/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure, 
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

#map-canvas {
    height: 100%;
    width: 80%;
    float: right;
    background-color: #ccc;
    text-align: center;
}

.search-box {
    position: absolute;
    width: 20%;
    height: 100%;
    overflow: scroll;
}

#search-bar {
    width: 20%;
    height: 40px;
    line-height: 20px;
    font-weight: 100;
    box-sizing: border-box;
    outline: none;
    text-indent: 15px;
    position: fixed;
    font-size: 15px;
    background-color: #f8f8f8;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid  #e6e6e6;
    border-left: none; 
}

.list-data {
    background-color: #f8f8f8;
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    word-wrap: break-word;
    font-size: 13px;
    
}

.list-data h1 {
font-weight: 100;
font-size: 1em;
line-height: normal;
}

.list-data h2 {
font-weight: 200;
color: black;
font-size: 0.9em;
line-height: normal;
color: grey;
}

li {
    line-height: 30px;
    border-bottom: 1px solid #e6e6e6;
    height: auto;
    font-weight: normal;
    padding: 5px;
}

li:hover {
    background-color: #f2f2f2;
}

.info-window-container {
    text-align: left;
    font-size: 1em;
}

#info-image {
    float: right;
    padding-left: 10px;
}

#review {
    font-style: italic;
}

#content {
    float: left;
    width: 200px;
}

#venue-name {
    font-weight: 600;
    color: #0078a8;
    font-size: 1.2em;
    margin-bottom: 5px;
}

#details-link {
    float: right;
    color: #0078a8;
}

#venue-address {
    margin-bottom: 3px;
}

#venue-rating {
    font-weight: 400;
    color: #0078a8;
}

.error-message {
    color: red;
}

.show-list,
.hide-list {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    width: 48px;
    height: 25px;
}

#venues-error-message {
    color: red;
    padding: 15px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


@media only screen and (max-width: 800px) {
    #info-image {
        display: none;
    }

    .hide-list {
        display: none;
    }

    .info-window-container {
        font-size: 0.8em;
    }

    #venue-name {
        font-size: 1em;
    }
}

@media only screen and (min-width: 800px) {
    .show-list {
        display: none;
    }
}